@import "@/themes/colors";

$editorActionsBarHeight: 31px;

.root {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  border-right: 2px solid lightgrey;
  background: white;

  &.collapsed {
    flex: 0 0 $editorActionsBarHeight;
    align-items: center;
  }
  &.expanded {
    flex: 0 0 270px;
    width: 270px; // Preserve width during the transition
    z-index: 1000; // Always on top of the collapsed one *and* of the content
    &.enter,
    &.exit.exitActive {
      // Both `exit` and `exitActive` are needed
      clip-path: inset(0 100% 0 0);
    }
    &.exitActive,
    &.enterActive {
      transition: clip-path 400ms;
    }
    &.enterActive,
    &.exit {
      clip-path: inset(0 0 0 0);
    }
  }

  &.exitActive {
    position: absolute; // Take out of the flow during the transition
    height: 100vh !important;
  }

  label {
    font-size: 0.875rem;
  }

  :global {
    .list-group {
      border-radius: 0;

      .list-group-item {
        padding-left: 12px;
        padding-right: 12px;
        border-right: none;
        font-size: 0.875rem;
      }
    }
  }
}

.logo {
  background-color: $P500;
  width: $editorActionsBarHeight;
  height: $editorActionsBarHeight;
  object-fit: contain;

  :hover > & {
    filter: brightness(0.75);
  }
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.actions {
  display: flex;

  button {
    border-radius: 0;
    margin: 0;
  }

  & > :global(.dropdown) {
    // Have the "Add" dropdown fit its container
    display: flex;
  }
}

.toggle {
  display: flex;
  flex-direction: column;
  border: none !important;
  border-radius: 0 !important;
  min-width: $editorActionsBarHeight;
  padding: 0 !important;

  &:hover {
    background-color: #e9ecef !important;
  }

  svg {
    margin: 5px;
  }
}

.unavailable {
  margin: 5px;
}

.extensions {
  overflow-y: auto;
  flex: 1;
}
